{% load static %}
<div class="left-side-bar">
    <div class="brand-logo">
        <a href="index.html">
            <img src="{% static 'vendors/images/deskapp-logo.svg' %}" alt="" class="dark-logo" />
            <img
                src="{% static 'vendors/images/deskapp-logo-white.svg' %}"
                alt=""
                class="light-logo"
            />
        </a>
        <div class="close-sidebar" data-toggle="left-sidebar-close">
            <i class="ion-close-round"></i>
        </div>
    </div>
    <div class="menu-block customscroll">
        <div class="sidebar-menu">
            <ul id="accordion-menu">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-house"></span
                        ><span class="mtext">Home</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="{% url 'home' %}">الريئسية</a></li>
                        <li><a href="{% url 'add_book' %}">اضافة كتاب</a></li>
                        <li><a href="{% url 'homes' %}">Dashboard style 3</a></li> 
                        <li><a href="{% url 'login_admin' %}"> admin</a></li> 
                        <li><a href="{% url 'change_password' %}"> change_password</a></li> 
                        
                        
                    </ul>
                </li>
          
          
              
               
                {% comment %} <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-file-earmark-text"></span
                        ><span class="mtext">Additional Pages</span>
                    </a>
                    <ul class="submenu"> {% endcomment %}
                        {% comment %} <li><a href="video-player.html">Video Player</a></li> {% endcomment %}
                        {% comment %} <li><a href="{% url 'login_sn' %}">Login</a></li>
                        <li><a href="forgot-password.html">Forgot Password</a></li>
                        <li><a href="reset-password.html">Reset Password</a></li>
                    </ul>
                </li>
             {% endcomment %}

                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-back"></span
                        ><span class="mtext">Extra Pages</span>
                    </a>
                    <ul class="submenu">
                       
                        <li><a href="{% url 'product' %}">Product</a></li>
                        {% comment %} <li><a href="{% url 'product-detail' %}">Product Detail</a></li> {% endcomment %}
                        {% comment %} <li><a href="faq.html">FAQ</a></li>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="pricing-table.html">Pricing Tables</a></li> {% endcomment %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-hdd-stack"></span
                        ><span class="mtext">الاقسام</span>
                    </a>

                    <ul class="submenu">
                        <li class="dropdown">
                            <a id="addcat" href="#" class="dropdown-toggle">
                                <span class="micon fa fa-plug"></span
                                ><span class="mtext">اضف جديد</span>
                            </a>
                       
                            <form id="cat" method="POST">
                                {% csrf_token %} 
                                {{formcat}}
                                <div id="catinput">
                                    <button type="submit" class="btn btn-success">حفظ</button>
                                    <button id="backcat" class="btn btn-primary ">الى الخلف</button>
                                </div>
                            </form>  
                            {% for cat in Category %}
                                <li style="cursor: pointer;" class="cat{{cat.id}}">
                                    <a id="" class="">
                                        {% comment %} <i class="far fa-circle nav-icon"></i> {% endcomment %}
                                        {% comment %} <span class="micon fa fa-plug"></span> {% endcomment %}
                                        <span class="mtext">{{ cat.name }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </li>
                    </ul>
                </li>
                
                <li>
                    <a href="{% url 'chat' %}" class="dropdown-toggle no-arrow">
                        <span class="micon bi bi-chat-right-dots"></span
                        ><span class="mtext">Chat</span>
                    </a>
                </li>
               
                {% comment %} <li>
                    <a href="javascript:;" class="dropdown-toggle">
                        <span class="micon bi bi-file-pdf"></span
                        ><span class="mtext">Documentation</span>
                    </a>
                    <ul class="submenu">
                        <li><a href="introduction.html">Introduction</a></li>
                        <li><a href="getting-started.html">Getting Started</a></li>
                        <li><a href="color-settings.html">Color Settings</a></li>
                        <li>
                            <a href="third-party-plugins.html">Third Party Plugins</a>
                        </li>
                    </ul>
                </li> {% endcomment %}
                {% comment %} <li>
                    <a
                        href="https://dropways.github.io/deskapp-free-single-page-website-template/"
                        target="_blank"
                        class="dropdown-toggle no-arrow"
                    >
                        <span class="micon bi bi-layout-text-window-reverse"></span>
                        <span class="mtext"
                            >Landing Page
                            <img src="{% static 'vendors/images/coming-soon.png' %}" alt="" width="25"
                        /></span>
                    </a>
                </li> {% endcomment %}
                <li>
                    <a
                        href="{% url 'contact_us' %}"
                        target="_blank"
                        class="dropdown-toggle no-arrow"
                    >
                        <span class="micon bi bi-layout-text-window-reverse"></span>
                        <span class="mtext"
                            >اتصل بناء 
                            <img src="{% static 'vendors/images/coming-soon.png' %}" alt="" width="25"
                        /></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="mobile-menu-overlay"></div>
