{% extends 'base.html' %}
{% load static %}


{% block content %}
<body class="login-page">
    <div class="login-header box-shadow">
        <div
            class="container-fluid d-flex justify-content-between align-items-center"
        >
            <div class="brand-logo">
                <a href="login.html">
                    <img src="{% static 'vendors/images/deskapp-logo.svg' %}" alt="" />
                </a>
            </div>
            <div class="login-menu">
                <ul>
                    <li><a href="{% url 'registration' %}">Register</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div
        class="login-wrap d-flex align-items-center flex-wrap justify-content-center"
    >
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-7">
                    <img src="{% static 'vendors/images/login-page-img.png' %}" alt="" />
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="login-box bg-white box-shadow border-radius-10">
                        <div class="login-title">
                            <h2 class="text-center text-primary">Login To DeskApp</h2>
                        </div>
<div class="row center-align">

	<div class="col s12">
		<i class="large material-icons green-text">check_circle</i>		
	</div>
	<div class="col s12">
		<p>تم تعديل كلمت المرور بنجاح</p>	
	</div>


</div>
</div>
				</div>
			</div>
		</div>
{% endblock %}