{% extends 'base.html' %}
{% load static %}


{% block content %}
<body class="login-page">
    <div class="login-header box-shadow">
        <div
            class="container-fluid d-flex justify-content-between align-items-center"
        >
            <div class="brand-logo">
                <a href="login.html">
                    <img src="{% static 'vendors/images/deskapp-logo.svg' %}" alt="" />
                </a>
            </div>
            <div class="login-menu">
                <ul>
                    <li><a href="{% url 'registration' %}">Register</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div
        class="login-wrap d-flex align-items-center flex-wrap justify-content-center"
    >
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-7">
                    <img src="{% static 'vendors/images/login-page-img.png' %}" alt="" />
                </div>
                <div class="col-md-6 col-lg-5">
                    <div class="login-box bg-white box-shadow border-radius-10">
                        <div class="login-title">
                            <h2 class="text-center text-primary">Login To DeskApp</h2>
                        </div>
<div class="row center-align">
	<form method="post" class="col s12" role="form" action="">
	{% csrf_token %}
	{{ form.id }}
	<h3>Change password</h3>
	<div class="row">
        <div class="input-group custom">
		<div class="input-field col s12">
			{{ form.old_password }}	
		<label for="old_password">Old password</label>		
		</div>
    </div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			{{ form.new_password }}	
		<label for="new_password">New password</label>		
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			{{ form.confirm_password }}	
		<label for="confirm_password">Re-type password</label>		
		</div>
	</div>

	{% if form.errors %}
	<div class="row">
		<div class="col s12">
			<span style="color: red; font-weight: bold;">{{ form.errors }}</span>
		</div>	
	</div>
	{% endif %}
    <div class="input-group mb-0">
        <input class="btn btn-primary btn-lg btn-block" name="action" type="submit" value="Sign In">
    </div>
	<button type="submit" name="action" class="waves-effect waves-light btn"><i class="material-icons left">send</i>Change password</button>
	</form>

</div>
</div>
				</div>
			</div>
		</div>
{% endblock %}